@import "../../../../fonts";
@import "../../../../variables";

ul{
  &.dropdown-menu {
    max-height:355px;
    overflow: auto;
  }
}

li{
  &.dropdown-header{
    text-transform: uppercase;
    .gothamLightFont(@size: 12px);
  }
}

.glyphicon-triangle-bottom {
  color: @blueColor;
}
