@import "../../../../fonts";

ul{
  &.dropdown-menu {
    max-height:355px;
    overflow: auto;
  }
}

li{
  &.dropdown-header{
    text-transform: uppercase;
    .gothamLightFont(@size: 12px);
  }
}
