<span *ngIf="items && items.length > 0" dropdown container="body">
  <a *ngIf="!buttonText; else dropdownButton" href dropdownToggle (click)="false" class="hdx-dropdown-link"
      [class.make-gray]="makeGray">
    <span *ngIf="linkText">{{linkText}}</span>
    <i class="glyphicon {{glyphiconClass ? glyphiconClass : 'glyphicon-triangle-bottom'}}"
        [style.font-size]="linkText ? '10px' : '' "></i>

  </a>
  <ng-template #dropdownButton >
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      {{buttonText}}
    </button>
  </ng-template>

  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <ng-template ngFor let-item="$implicit" [ngForOf]="items" let-i="index">

      <li *ngIf="item.type=='header'" class="dropdown-header">{{item.displayValue}}</li>
      <li *ngIf="item.type=='menuitem'" role="menuitem" class="{{ renderClass(item) }}">
        <a class="dropdown-item" href="javascript:void(0)" (click)="itemSelected(item.payload)"
           title="{{item.displayValue}}">
          {{truncate(item.displayValue)}}
        </a>
      </li>
      <li *ngIf="item.type=='divider'" class="divider" role="separator"></li>
      <li *ngIf="item.type=='togglemenuitem'" role="menuitem">
        <hxl-checkbox-slider (checked)="itemToggled(item.payload, $event)"
          [name]="item.payload.name" [title]="item.displayValue" [initiallyChecked]="item.payload.checked" [forMenu]="true">
        </hxl-checkbox-slider>
      </li>
    </ng-template>
  </ul>
</span>
