@import "../../../variables";
@import "../../../fonts";

.sortable-ghost {
  opacity: 0.5;
}


@listHeaderHeight: 50px;
@listBorderHeight: 1px;
.list-header-mixin(){
  height: @listHeaderHeight;
  border-bottom: @listBorderHeight solid @lightGrayColor;
  vertical-align: middle;
  line-height: @listHeaderHeight - @listBorderHeight;
  padding: 0;
  padding-right: 15px;
}

/* List header */
.list-header {

  margin-top: 15px;
  .list-header-mixin();
  background-color: @extraLightBlueColor;

  .list-header-title {
    .gothamBoldFont(16px);
    color: @darkGrayColor;
    width: 100%;
  }

  // & + .row {
  //   margin-top: 35px;
  // }

  .right-menu {
    word-spacing: 5px;
    text-align: right;
  }
}

/* Cookbook controls */
.cookbook-controls {
  &.row {
    position: absolute;
    opacity: 0;
    border-bottom: @listBorderHeight solid @lightGrayColor;
  }
  .cookbook-controls-container {
    background-color: @almostWhiteGrayColor;
    transition: max-height .3s linear;
    max-height: 0px;
  }
  &.shown {
    &.row {
      position: static;
      opacity: 1;
    }
    .cookbook-controls-container {
      max-height: 40px;
    }
  }

}

a:hover {
  text-decoration: none;
}

