<div>
  <div class="row list-header" *ngIf="!singleWidgetMode">
    <div class="col-xs-10">
      <hxl-inline-edit id="list-header-title" class="list-header-title" [(ngModel)]="biteService.quickChartsTitle" [editMode]="toolsMode" [placeholder]="'...'" [showEditIcon]="true" [maxEditorWidth]="'80%'"></hxl-inline-edit>
      <!--<span class="list-header-title">Quick Charts</span>-->
      <i *ngIf="spinnerActive"><img class="img-color" src="./assets/images/loading-spinner.gif"> Loading ...</i>
    </div>
    <div class="col-xs-2 right-menu" *ngIf="!toolsMode">
      <hxl-simple-dropdown [glyphiconClass]="'glyphicon-triangle-bottom'" [items]="shareChartsMenu"
                       linkText="Share" (selected)="doSaveAction($event)">
      </hxl-simple-dropdown>
      |
      <hxl-simple-dropdown [glyphiconClass]="'glyphicon-cog'" [items]="adminChartsMenu" [makeGray]="true"
                      (selected)="doSaveAction($event)">
      </hxl-simple-dropdown>

      <hxl-simple-modal [title]="'Save Configuration'" #savedModal>
        {{savedModalMessage}}
      </hxl-simple-modal>

    </div>
  </div>
  <div class="row cookbook-controls" [class.shown]="showCookbookControls">
    <div class="col-xs-12 cookbook-controls-container">
      <div class="row">
          <div class="col-xs-5">
            <span>Choose Recipe: </span>
            <a href *ngIf="showCustomCookbookControls; else hdxCookbooksControlsLink"
                  (click)="changeCustomCookbookControls(false); false;">HDX Quick Charts Recipes</a>
            <ng-template #hdxCookbooksControlsLink>
              <span>HDX Quick Charts Recipes</span>
            </ng-template>
            |
            <span *ngIf="showCustomCookbookControls; else customCookbooksControlsLink">Custom Recipes</span>
            <ng-template #customCookbooksControlsLink>
              <a href (click)="changeCustomCookbookControls(true); false;">Custom Recipes</a>
            </ng-template>

          </div>
      </div>
      <div class="row">
        <div class="col-xs-5 form-group">
          <input class="form-control" type="text" *ngIf="showCustomCookbookControls; else hdxCookbookControls"
              [value]="customCookbookUrl"
              (change)="customCookbookSelected($event.target.value)"
              placeholder="https://raw.githubusercontent.com/OCHA-DAP/hxl-recipes/master/recipes/recipes.json" />
          <ng-template #hdxCookbookControls>
            <select *ngIf="cookbooksAndTags" class="form-control" (change)="cookbookSelected($event.target.value)">
              <option *ngFor="let cookbook of cookbooksAndTags.cookbooks; let idx = index;"
                    [value]="idx" [selected]="cookbook.selected">{{cookbook.title}}</option>
            </select>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <hxl-simple-modal [title]="'Embed Quick Charts'" #embedLinkModal>
    Please copy the code below to embed the quick charts.
    <a href="{{embedUrl}}" target="_blank">See example here</a>:
    <input type="text" onfocus="this.setSelectionRange(0, 0); this.setSelectionRange(0, this.value.length)" onClick="this.setSelectionRange(0, 0); this.setSelectionRange(0, this.value.length)" readonly [(ngModel)]="iframeUrl" style="width: 100%;" />
  </hxl-simple-modal>
</div>

<div
  [sortablejs]="biteList"
  [sortablejsOptions]="sortableMain"
  class="row"
>
  <div
    class="col-xs-12"
    [class.col-md-4]="!singleWidgetMode"
    *ngFor="let bite of biteList; let idx = index;"
  >
    <hxl-bite [listIsFull]="listIsFull" [bite]="bite"
              [availableBites]="availableBites" [index]="idx + 1"
              [singleBite]="biteList.length === 1" [toolsMode]="toolsMode"
              (onDelete)="deleteBite($event)" (onSwitch)="switchBite($event)"
              (onCancel)="cancelBite($event - 1)" (onSave)="saveBite($event - 1)"
              (onEmbedUrlCreate)="singleEmbedUrlCreated($event)">
    </hxl-bite>
  </div>
</div>

