<span
  [hidden]="editMode"
  [class.from-text-area]="textArea"
>{{ value }}</span>
<a
  (click)="edit(value)"
  [hidden]="(editing) || (!editMode)"
  [class.from-text-area]="textArea"
>
  {{ value || placeholder }}
  <i *ngIf="showEditIcon" class="glyphicon glyphicon-pencil"></i>
</a>
<input
  #editControl
  *ngIf="!textArea"
  [hidden]="(!editing) || (!editMode)"
  [placeholder]="placeholder"
  [style.max-width]="maxEditorWidth"
  [style.width]="maxEditorWidth"
  [(ngModel)]="value"
  (blur)="save(value)"
  (keyup.escape)="cancel()"
  (keyup.enter)="save(value)"
  class="edit-control" />
<textarea
  #editControl
  *ngIf="textArea"
  rows="4"
  [hidden]="(!editing) || (!editMode)"
  [placeholder]="placeholder"
  [style.max-width]="maxEditorWidth"
  [style.width]="maxEditorWidth"
  [(ngModel)]="value"
  (blur)="save(value)"
  (keyup.escape)="cancel()"
  class="edit-control"
></textarea>
