@import "../../fonts";
.bites-title {
  font-size: 36px;
  font-weight: 500;
  padding-top: 5px;
}

.bites-description{
  .sourceSansProFont(@size: 14px);
}

.bites-header::before {
  content: "\00a0 ";
}

.bites-actions {
  text-align: right;
  font-size: 20px;
  i {
    margin: 10px;
  }
}

hxl-bite-list {
  margin-top: 20px;
}
