<div
  class="hxl-bite"
  [class.settings-open]="settingsDisplay"
>
  <div class="title">
    <div class="title-content" title="{{biteLogic.title}}">{{biteLogic.title}}</div>
    <div class="title-menu">
      <hxl-simple-dropdown [items]="displayableAvailableBites" (selected)="switchBite($event)"></hxl-simple-dropdown>
    </div>
  </div>
  <div *ngIf="!bite.errorMsg; else errorMessage">
    <div class="content" [ngSwitch]="bite.type">
      <hxl-content-topline *ngSwitchCase="classTypes.ToplineBite" [bite]="bite"></hxl-content-topline>
      <hxl-content-chart *ngSwitchCase="classTypes.ChartBite" [bite]="bite"></hxl-content-chart>
      <hxl-content-comparison-chart *ngSwitchCase="classTypes.ComparisonChartBite" [bite]="bite"></hxl-content-comparison-chart>
      <hxl-content-timeseries-chart *ngSwitchCase="classTypes.TimeseriesChartBite" [bite]="bite"></hxl-content-timeseries-chart>
    </div>
  </div>
  <ng-template #errorMessage>
    <div class="content">{{bite.errorMsg}}</div>
  </ng-template>
  <div class="description">
    <div class="description-content">
      {{ biteLogic.description }}
    </div>
  </div>
  <div class="footer">
    <div class="left-section pull-left" *ngIf="allowShare">
      <a *ngIf="!toolsMode" href="javascript:void(0)" (click)="createEmbedLink()">
        <i class="glyphicon glyphicon-link"></i>
      </a>
      <a href="javascript:void(0)" (click)="saveAsImage()">
        <i class="glyphicon glyphicon-save-file"></i>
      </a>
    </div>
    <form #settingsForm="ngForm" (ngModelChange)="settingsModelChanged($event)">
      <div class="settings-menu-shadow" [class.open]="settingsDisplay" (click)="toggleSettings();"></div>
      <div class="pull-right cancel-save-wrapper" [class.over-shadow]="settingsDisplay">
        <span class="powered-by" [class.display]="poweredByDisplay" *ngIf="poweredByDisplay">
          <a href="https://tools.humdata.org/quickcharts/" target="_blank">
            <div *ngIf="poweredBySource != 'undefined' || poweredByUrl != 'undefined' || poweredByDate != 'undefined'" class="settings-menu powered-by-menu dropdown-menu" >
              <div *ngIf="poweredBySource != 'undefined'">
                Source:
                <div class="black-color">{{ poweredBySource }}</div>
              </div>
              <div *ngIf="poweredByUrl != 'undefined' && poweredByDate != 'undefined'">
                <div><a href="{{ poweredByUrl }}" target="_blank">Data</a> - {{ poweredByDate }}</div>
              </div>
            </div>
            Powered by
            <span class="img-span">
              <img class="img-gray" src="./assets/images/hdx-gray.png">
              <img class="img-color" src="./assets/images/hdx-color.png">
            </span>
          </a>
        </span>
        <span *ngIf="!(biteLogic.tempShowSaveCancelButtons && hasModifyPermission); else saveCancelButtons;">
          <i *ngIf="allowSettings" (click)="toggleSettings()" class="glyphicon glyphicon-cog footer-glyphicon" [class.open]="settingsDisplay"></i>
        </span>
        <ng-template #saveCancelButtons>
          <a class="btn qc-btn qc-btn-secondary" (click)="cancel();">Cancel</a><!--
          --><a class="btn btn-primary qc-btn" (click)="save();">Save</a>
        </ng-template>
        <div class="settings-menu dropdown-menu"
           [class.open]="settingsDisplay"
           [class.arrow-right]="(index % 3 == 0) || (singleBite && poweredByDisplay)"
           [class.arrow-single-embed]="(singleBite && poweredByDisplay)"
           [class.arrow-left]="index % 3 > 0">
          <div class="scrollable-content">
            <div class="section">
              <div class="section-title">
                Chart title
              </div>
              <div class="element-group">
                <input [(ngModel)]="settingsModel.title" type="text" placeholder="Custom chart title" name="title">
              </div>
              <hr/>
            </div>
            <div class="section" *ngIf="(bite.type != classTypes.ToplineBite) && (!asChartBite(bite).pieChart)">
              <div class="section-title">
                Axis & Grid
              </div>
              <hxl-checkbox-slider *ngIf="bite.type == classTypes.ChartBite || bite.type == classTypes.ComparisonChartBite"
                (checked)="settingsModel.swapAxis=$event; renderContent();" name="swap-axis" [uuid]="uuid" title="Reverse Axis"
                [initiallyChecked]="settingsModel.swapAxis">
              </hxl-checkbox-slider>
              <hxl-checkbox-slider (checked)="settingsModel.showGrid=$event; renderContent();" name="show-grid" [uuid]="uuid" title="Show Grid"
                [initiallyChecked]="settingsModel.showGrid">
              </hxl-checkbox-slider>
              <hr/>
            </div>
            <div class="section" *ngIf="bite.type == classTypes.ToplineBite">
              <div class="section-title">
                Number format
              </div>
              <div class="element-group">
                <div class="almost-fifty pull-left">
                  <label>Prefix</label>
                </div>
                <div class="almost-fifty pull-right">
                  <label>Suffix</label>
                </div>
                <div>
                  <input class="almost-fifty" type="text" placeholder="Prefix"
                         [(ngModel)]="settingsModel.prefix" name="prefix">
                  <input class="almost-fifty pull-right" type="text" placeholder="Sufix"
                         [(ngModel)]="settingsModel.suffix" name="suffix">
                </div>
              </div>
              <div class="element-group">
                <label for="decimals-{{uuid}}">
                  Decimals
                </label>
                <!--<input type="number" placeholder="Add custom value" [(ngModel)]="settingsModel.filterCustomValue" name="filterCustomValue">-->
                <select id="decimals-{{uuid}}" [(ngModel)]="settingsModel.numberFormat" name="numberFormat">
                  <option value=""> -- Select -- </option>
                  <option value="de">1.000,00</option>
                  <option value="us">1,000.00</option>
                </select>
              </div>
              <hxl-checkbox-slider (checked)="settingsModel.abbreviateValues=$event;" name="abbreviate-values"
                [uuid]="uuid" title="Abbreviate values" [initiallyChecked]="settingsModel.abbreviateValues">
              </hxl-checkbox-slider>
              <hr/>
            </div>
            <div class="section">
              <div class="section-title">
                Display preference
              </div>
              <div class="element-group" *ngIf="(bite.type == classTypes.ChartBite)">
                <label >
                  Sorting
                </label>
                <div class="pull-right">
                  <div class="checkbox-slider pull-right">
                    <input [checked]="settingsModel.sorting != null"
                           (change)="toggleSorting(); renderContent()"
                           type="checkbox" name="checkbox-slider" class="checkbox-slider-checkbox" id="sorting-{{uuid}}">
                    <label class="checkbox-slider-label" for="sorting-{{uuid}}">
                      <span class="checkbox-slider-inner"></span>
                      <span class="checkbox-slider-switch"></span>
                    </label>
                  </div>
                  <i class="change-sorting glyphicon glyphicon-arrow-up" style="margin-bottom: 3px;"
                    [ngClass]="{'glyphicon-arrow-down': settingsModel.sorting == SORT_DESC}"
                    [style.display]="(!settingsModel.sorting ? 'none' : 'inline-block')"
                    (click)="swapSorting()"></i>
                </div>
              </div>
              <hxl-checkbox-slider *ngIf="(bite.type == classTypes.ComparisonChartBite)"
                (checked)="settingsModel.stackChart=$event; renderContent();" name="stack-chart"
                [uuid]="uuid" title="Stack Chart" [initiallyChecked]="settingsModel.stackChart">
              </hxl-checkbox-slider>
              <div class="element-group">
                <label>
                  Limit number of values
                </label>
                <div>
                  <input type="number" placeholder="enter limit"
                         [(ngModel)]="settingsModel.limit"
                         name="limit">
                </div>
              </div>
              <div class="element-group">
                <label>
                  Chart values title <span *ngIf="(bite.type == classTypes.ComparisonChartBite)">1</span>
                </label>
                <div>
                  <input type="text" placeholder="X Axis Label"
                         [(ngModel)]="settingsModel.xAxisLabel"
                         name="xAxisLabel">
                </div>
              </div>
              <div class="element-group" *ngIf="showColorPatternChooser">
                <label >
                  Chart color <span *ngIf="(bite.type == classTypes.ComparisonChartBite)">1</span>
                </label>
                <hxl-color-picker [colorPattern]="colorPattern" [selectedColor]="settingsModel.customColor" (onChange)="selectCustomColor($event)"></hxl-color-picker>
              </div>
              <div class="element-group" *ngIf="(bite.type == classTypes.ComparisonChartBite)">
                <label>
                  Chart values title 2
                </label>
                <div>
                  <input type="text" placeholder="X Axis Label 2"
                         [(ngModel)]="settingsModel.xAxisLabel2"
                         name="xAxisLabel2">
                </div>
              </div>
              <div class="element-group" *ngIf="(bite.type == classTypes.ComparisonChartBite)">
                <label >
                  Chart color 2
                </label>
                <hxl-color-picker [colorPattern]="colorPattern" [selectedColor]="settingsModel.comparisonCustomColor" (onChange)="selectComparisonCustomColor($event)"></hxl-color-picker>
              </div>


              <!-- TODO: not implemented yet -->
              <div class="element-group" *ngIf="false && bite.type == classTypes.ToplineBite">
                <label >
                  Exclude 0 values
                </label>
                <div class="checkbox-slider pull-right">
                  <input type="checkbox" name="checkbox-slider" class="checkbox-slider-checkbox" id="exclude-zero-{{uuid}}"
                         checked [(ngModel)]="settingsModel.filterZero" name="filterZero">
                  <label class="checkbox-slider-label" for="exclude-zero-{{uuid}}">
                    <span class="checkbox-slider-inner"></span>
                    <span class="checkbox-slider-switch"></span>
                  </label>
                </div>
              </div>
              <!-- TODO: not implemented yet -->
              <div class="element-group" *ngIf="false && bite.type == classTypes.ToplineBite">
                <label>
                  Exclude custom value
                </label>
                <input type="number" placeholder="Add custom value" [(ngModel)]="settingsModel.filterCustomValue" name="filterCustomValue">
              </div>
              <div class="element-group">
                <label>
                  Description
                </label>
                <textarea
                  [(ngModel)]="settingsModel.description"
                  name="description" class="count" rows="4"></textarea>
                <div class="count-container">{{settingsModel.descriptionRemaining}} chars left</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
