<div
  class="hxl-bite"
  [class.hxl-bite-edit]="edit"
  [class.hxl-bite-small]="add"
>
  <div class="title">
    <div class="pull-left" style="width: 80%">
      <!--<i *ngIf="edit" class="glyphicon glyphicon-move drag-handle"></i>-->
      <div class="title-content">{{bite.title}}</div>
    </div>

    <span class="pull-right">
      <simple-dropdown [items]="displayableAvailableBites" (selected)="switchBite($event)"></simple-dropdown>
      <i
        *ngIf="add && !listIsFull"
        style="color: green;"
        class="glyphicon glyphicon-plus"
        (click)="addBite($event);"
      ></i>
      <i
        *ngIf="add && listIsFull"
        style="color: lightgray;"
        class="glyphicon glyphicon-plus"
      ></i>
      <i
        *ngIf="edit"
        style="color: red;"
        class="glyphicon glyphicon-remove"
        (click)="deleteBite($event);"
      ></i>
    </span>
  </div>
  <div class="content" [ngSwitch]="bite.type">
    <hxl-content-topline *ngSwitchCase="classTypes.ToplineBite" [bite]="bite" [edit]="edit"></hxl-content-topline>
    <hxl-content-chart *ngSwitchCase="classTypes.ChartBite" [bite]="bite"></hxl-content-chart>
    <hxl-content-timeseries-chart *ngSwitchCase="classTypes.TimeseriesChartBite" [bite]="bite"></hxl-content-timeseries-chart>
  </div>
  <div class="description">
    <div class="description-content">
      Description added by contributor
    </div>
  </div>
  <div class="footer">
    <div class="pull-left">
      <i class="glyphicon glyphicon-open"></i>
      Export
    </div>
    <div class="pull-right">
      <i class="glyphicon glyphicon-cog"></i>
    </div>

  </div>
</div>
