@import "../../../styles.less";

.hxl-bite {
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-bottom: 1px solid #eee;
  @lineHeightValue: 1.42857143;
  @titleFontSize: 14px;
  @titleContainerHeight: 2*@lineHeightValue*@titleFontSize;

  @editModePaddingSize: 5px;
  &.hxl-bite-edit{
    .title {
      padding: @editModePaddingSize;
      height: @titleContainerHeight + 2*@editModePaddingSize;
      transition: background-color 0.5s, padding 0.5s, height 0.5s;
    }
  }
  &.hxl-bite-edit:hover, &.hxl-bite-small {
    border: 1px solid #eee;
    //transition: border 0.5s;
    .title {
      .glyphicon {
        transition: display 0.5s;
        display: inline;
      }

      transition: background-color 0.5s, padding 0.5s, height 0.5s;

      background-color: #eee;
      padding: @editModePaddingSize;
      height: @titleContainerHeight + 2*@editModePaddingSize;
    }
  }
  .title {
    .glyphicon {
      display: none;
    }
    .gothamBoldFont(@titleFontSize);
    letter-spacing: 0.01em;

    margin-bottom: 10px;
    color: #333333;
    line-height: @lineHeightValue;
    height: @titleContainerHeight;
  }
  .content {
    min-height: 201px;
  }

  &.hxl-bite-small{
    .content{
      min-height: 140px;
    }
  }
}

h1 {
  font-size: 100px;
}
