@import "../../../styles.less";

.hxl-bite {
  margin-bottom: 30px;
  border: 1px solid @extraLighterGrayColor;
  border-bottom: 1px solid #eee;
  @lineHeightValue: 1.42857143;
  @titleFontSize: 14px;
  @titleContainerHeight: 50px;//2*@lineHeightValue*@titleFontSize;
  @headerFooterPadding: 15px;

  .title {
    .gothamBoldFont(@titleFontSize);
    letter-spacing: 0.01em;

    padding: @headerFooterPadding;
    color: #333333;
    line-height: @lineHeightValue;
    height: @titleContainerHeight;

    background-color: @extraLighterGrayColor;
    .title-content {
      width: 100%;
      background-color: @extraLighterGrayColor;
    }

    i {
      vertical-align: middle;
      &.glyphicon-triangle-bottom {
        color: @blueColor;
        font-size: 16px;
      }
    }
  }
  .content {
    min-height: 255px;
    padding: @headerFooterPadding;
  }
  .description {
    height: 50px;
    padding: 0 @headerFooterPadding;
    .description-content{
      border-top: 1px solid @extraLighterGrayColor;
      .sourceSansProFont(400, 12px);
      color: @grayColor;
    }
  }
  .footer {
    height: 35px;
    padding: @headerFooterPadding/2;
    background-color: @extraLighterGrayColor;
    color: @grayColor;
    .sourceSansProFont(400, 12px);
    i {
      vertical-align: middle;
      font-size: 16px;
    }
    .pull-right {
      height: 100%;
    }
  }
  &.hxl-bite-small{
    .content{
      min-height: 140px;
    }
  }
}

h1 {
  font-size: 100px;
}
