//Fonts
@gothamBoldFont: 'Gotham-Bold', sans-serif;
@gothamBookFont: 'Gotham-Book', sans-serif;
@gothamBlackFont: 'Gotham-Black', sans-serif;
@gothamLightFont: 'Gotham-Light', sans-serif;
@gothamMediumFont: 'Gotham-Medium', sans-serif;
@fontNameSourceSansPro: 'Source Sans Pro';
@sourceSansProFont: @fontNameSourceSansPro, sans-serif;

//Font Faces
.font-face(@family, @src){
  @font-face {
    font-family: @family;
    src: url(@src);
  }
}
.font-face-weight(@family, @src, @weight){
  @font-face {
    font-family: @family;
    src: url(@src);
    font-weight: @weight;
  }
}


.source-sans-pro-face(@type, @weight) {
  .font-face-weight('Source Sans Pro', './assets/fonts/Source_Sans_Pro/SourceSansPro-@{type}.ttf', @weight);
}

.gotham-face(@type){
  .font-face('Gotham-@{type}', './assets/fonts/Gotham_OTF/Gotham-@{type}.otf');
}

//Font mixins
.font-definition(@weight: 400, @size: 16px) {
  font-weight: @weight;
  font-size: @size;
}
.gothamBoldFont(@size: 16px) {
  font-family: @gothamBoldFont;
  .font-definition(400, @size);
}

.gothamBlackFont(@size: 16px) {
  font-family: @gothamBlackFont;
  .font-definition(400, @size);
}

.gothamBookFont(@size: 16px) {
  font-family: @gothamBookFont;
  .font-definition(400, @size);
}

.gothamLightFont(@size: 16px) {
  font-family: @gothamLightFont;
  .font-definition(400, @size);
}

.gothamMediumFont(@size: 16px) {
  font-family: @gothamMediumFont;
  .font-definition(400, @size);
}

.sourceSansProFont(@weight: 400, @size: 16px) {
  font-family: @sourceSansProFont;
  .font-definition(@weight, @size);
}

.gotham-face('Bold');
.gotham-face('Book');
.gotham-face('Light');
.gotham-face('Thin');
.gotham-face('Black');
.gotham-face('Medium');

.source-sans-pro-face('ExtraLight', 200);
.source-sans-pro-face('Light', 300);
.source-sans-pro-face('Regular', 400);
.source-sans-pro-face('SemiBold', 600);
.source-sans-pro-face('Bold', 700);
